.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #115e59;
  border: 1px solid #115e59;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  border: 3px solid #0d9488;
}
